Flow_Insert_Tb_Sql.json
[
    {
        "id": "cda74c0e0f9bca62",
        "type": "tab",
        "label": "Insert Thingsboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6a92c3f3288aeba",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_DZ_155A-6",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "9a366f5cdb26799a"
            ]
        ]
    },
    {
        "id": "9a366f5cdb26799a",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2c62ffa9149b73b",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "DZ_155A-6 Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_Speed = msg.payload.a;\nvar Engine_Load = msg.payload.b;\nvar Engine_Torque = msg.payload.c;\nvar Engine_Friction_Torque = msg.payload.d;\nvar Accelerator_Pedal_Position = msg.payload.e;\nvar Pedal_Position = msg.payload.f;\nvar Engine_Torque_Mode = msg.payload.g;\nvar Drive_Torque = msg.payload.h;\nvar Engine_Percent_Torque = msg.payload.i;\nvar Engine_Horse_Power = msg.payload.j;\nvar Target_Rpm_Engine = msg.payload.k;\nvar Desired_Operating_Speed_Assymetry_Adjustment = msg.payload.l;\nvar Engine_Hours = msg.payload.m;\nvar Engine_Idle_Hours = msg.payload.n;\nvar Engine_Idle_Fuel_Use = msg.payload.o;\nvar Total_Engine_Revolution = msg.payload.p;\nvar Total_Fuel_Consumtion = msg.payload.q;\nvar Total_Trip_Fuel_Use = msg.payload.r;\nvar Fuel_Rate = msg.payload.s;\nvar Common_Rail_Pressure = msg.payload.t;\nvar Engine_Oil_Pressure = msg.payload.u;\nvar Engine_Coolant_Pressure = msg.payload.v;\nvar Barometric_Pressure = msg.payload.w;\nvar Boost_Pressure = msg.payload.x;\nvar Fuel_Temperature = msg.payload.y;\nvar Air_Intake_Temperature = msg.payload.z;\nvar Engine_Coolant_Temperature = msg.payload.A;\nvar Engine_Oil_Temperature = msg.payload.B;\nvar Ambient_Temperature = msg.payload.C;\nvar ECU_Temperature = msg.payload.D;\nvar Engine_Coolant_Level = msg.payload.E;\nvar Battery_Voltage = msg.payload.F;\nvar Single_SPN = msg.payload.G;\nvar Single_FMI = msg.payload.H;\nvar Occure_SPN = msg.payload.I;\nvar AccelerometerX = msg.payload.J;\nvar AccelerometerY = msg.payload.K;\nvar AccelerometerZ = msg.payload.L;\nvar GyrometerX = msg.payload.M;\nvar GyrometerY = msg.payload.N;\nvar GyrometerZ = msg.payload.O;\nvar AngleX = msg.payload.P;\nvar AngleY = msg.payload.Q;\nvar AngleZ = msg.payload.R;\nvar GPS_Latitude = msg.payload.S;\nvar GPS_Longitude = msg.payload.T;\nvar GPS_Altitude = msg.payload.U;\nvar GPS_Speed = msg.payload.V;\nvar Temperature_Module = msg.payload.W;\nvar Fan_Speed = msg.payload.X;\nvar Transmisi_Oil_Temperature = msg.payload.Y;\nvar Hydraulic_Pump_Pressure = msg.payload.Z;\nvar Hydraulic_Oil_Temperature = msg.payload.aA;\nvar Transmisi_Out_Speed = msg.payload.aB;\nvar Vehicle_Speed = msg.payload.aC;\nvar Pitch_Angle = msg.payload.aD;\nvar Fuel_Level = msg.payload.aE;\nvar Air_Cleaner_Indicator = msg.payload.aF;\nvar ID_UNIT = msg.payload.aG;\nvar Hours_Meter_Unit = msg.payload.aH;\nvar Hours_Meter_Transmition = msg.payload.aI;\nvar Hours_Meter_Travel = msg.payload.aJ;\nvar ECU_Run_Time = msg.payload.aK;\nvar Drop_Rpm = msg.payload.aL;\nvar Decelerator_Pedal = msg.payload.aM;\nvar Fuel_Dial = msg.payload.aN;\nvar Analog_Read1 = msg.payload.aO;\nvar Analog_Read2 = msg.payload.aP;\nvar Analog_Read3 = msg.payload.aQ;\nvar Analog_Read4 = msg.payload.aR;\nvar Analog_Read5 = msg.payload.aS;\nvar Analog_Read6 = msg.payload.aT;\nvar Analog_Read7 = msg.payload.aU;\nvar Analog_Read8 = msg.payload.aV;\nvar Analog_Read9 = msg.payload.aW;\nvar DigitalRead1 = msg.payload.aX;\nvar DigitalRead2 = msg.payload.aY;\nvar DigitalRead3 = msg.payload.aZ;\nvar DigitalRead4 = msg.payload.aa;\nvar DigitalRead5 = msg.payload.ab;\nvar DigitalRead6 = msg.payload.ac;\nvar DigitalRead7 = msg.payload.ad;\nvar Hours_Meter_Idle_Enginering = msg.payload.ae;\nvar Unix_Time = msg.payload.af;\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess =  msg.payload.aG;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC; \nmsg.payload.Date_Time = Date_Time;\n\n\n\n\n\n\n\n\n\nmsg.payload.Engine_Speed = Engine_Speed;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Engine_Torque = Engine_Torque;\nmsg.payload.Engine_Friction_Torque = Engine_Friction_Torque;\nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position ;\nmsg.payload.Pedal_Position = Pedal_Position;\nmsg.payload.Engine_Torque_Mode = Engine_Torque_Mode;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Target_Rpm_Engine = Target_Rpm_Engine;\nmsg.payload.Desired_Operating_Speed_Assymetry_Adjustment = Desired_Operating_Speed_Assymetry_Adjustment;\nmsg.payload.Engine_Hours = Engine_Hours;\nmsg.payload.Engine_Idle_Hours = Engine_Idle_Hours;\nmsg.payload.Engine_Idle_Fuel_Use = Engine_Idle_Fuel_Use;\nmsg.payload.Total_Engine_Revolution = Total_Engine_Revolution;\nmsg.payload.Total_Fuel_Consumtion = Total_Fuel_Consumtion;\nmsg.payload.Total_Trip_Fuel_Use = Total_Trip_Fuel_Use;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Common_Rail_Pressure = Common_Rail_Pressure;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Engine_Coolant_Pressure = Engine_Coolant_Pressure;\nmsg.payload.Barometric_Pressure = Barometric_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Fuel_Temperature = Fuel_Temperature;\nmsg.payload.Air_Intake_Temperature = Air_Intake_Temperature;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature;\nmsg.payload.Ambient_Temperature = Ambient_Temperature;\nmsg.payload.ECU_Temperature = ECU_Temperature;\nmsg.payload.Engine_Coolant_Level = Engine_Coolant_Level;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.AccelerometerX = AccelerometerX ;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed ;\nmsg.payload.Temperature_Module = Temperature_Module ;\nmsg.payload.Fan_Speed = Fan_Speed;\nmsg.payload.Transmisi_Oil_Temperature = Transmisi_Oil_Temperature;\nmsg.payload.Hydraulic_Pump_Pressure = Hydraulic_Pump_Pressure;\nmsg.payload.Hydraulic_Oil_Temperature = Hydraulic_Oil_Temperature;\nmsg.payload.Transmisi_Out_Speed = Transmisi_Out_Speed;\nmsg.payload.Vehicle_Speed = Vehicle_Speed;\nmsg.payload.Pitch_Angle = Pitch_Angle;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.Air_Cleaner_Indicator = Air_Cleaner_Indicator;\nmsg.payload.ID_UNIT = ID_UNIT;\nmsg.payload.Hours_Meter_Unit = Hours_Meter_Unit;\nmsg.payload.Hours_Meter_Transmition = Hours_Meter_Transmition;\nmsg.payload.Hours_Meter_Travel = Hours_Meter_Travel;\nmsg.payload.ECU_Run_Time = ECU_Run_Time;\nmsg.payload.Drop_Rpm = Drop_Rpm;\nmsg.payload.Decelerator_Pedal = Decelerator_Pedal;\nmsg.payload.Fuel_Dial = Fuel_Dial;\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7; \nmsg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Unix_Time = Unix_Time;\n\n\n\n\n\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "f6a92c3f3288aeba"
            ]
        ]
    },
    {
        "id": "18c87cbf4ea12b18",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "Dozer_outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "46c912c141897c72",
                "d2c62ffa9149b73b"
            ]
        ]
    },
    {
        "id": "46c912c141897c72",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 55",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "c57005d3f8e75a47",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "WP C27 Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_RPM = msg.payload.a;\nvar Fuel_Pressure = msg.payload.b;\nvar Engine_Oil_Presssure = msg.payload.c;\nvar Boost_Pressure = msg.payload.d;\nvar Water_Pressure = msg.payload.e;\nvar Engine_Coolant_Temperature = msg.payload.f;\nvar Fuel_Temperature = msg.payload.g;\nvar Air_Inlate_Temperature = msg.payload.h;\nvar Engine_oil_Temperture = msg.payload.i;\nvar Gear_Box_Temperature = msg.payload.j;\nvar Exhaust_Temperature_RH = msg.payload.k;\nvar Exhaust_Temperature_LH = msg.payload.l;\nvar ACC_Voltage = msg.payload.m;\nvar Battery_Voltage = msg.payload.n;\nvar Fuel_Rate = msg.payload.o;\nvar Engine_Load = msg.payload.p;\nvar Target_RPM = msg.payload.q;\nvar Friction_Torque = msg.payload.r;\nvar Drive_Torque = msg.payload.s;\nvar Actual_Torque = msg.payload.t;\nvar Single_SPN = msg.payload.u;\nvar Single_FMI = msg.payload.v;\nvar Occure_SPN = msg.payload.w;\nvar Fuel_Level = msg.payload.x;\nvar HM_Engine = msg.payload.y;\nvar HM_Unit = msg.payload.z;\nvar AccelerometerX = msg.payload.A;\nvar AccelerometerY = msg.payload.B;\nvar AccelerometerZ = msg.payload.C;\nvar GyrometerX= msg.payload.D;\nvar GyrometerY = msg.payload.E;\nvar GyrometerZ = msg.payload.F;\nvar AngleX = msg.payload.G;\nvar AngleY = msg.payload.H;\nvar AngleZ = msg.payload.I;\nvar GPS_Latitude = msg.payload.J;\nvar GPS_Longitude = msg.payload.K;\nvar GPS_Altitude = msg.payload.L;\nvar GPS_Speed = msg.payload.M;\nvar Temperature_Module = msg.payload.N;\nvar Pump_Temperature = msg.payload.O;\nvar ID_UNIT = msg.payload.P;\nvar Coolant_Level = msg.payload.Q;\nvar Asset_Pump_Number = msg.payload.R;\nvar Water_Flow_Meter = msg.payload.S;\nvar Fuel_Usage = msg.payload.T;\nvar Engine_Horse_Power = msg.payload.U;\nvar Engine_Torque = msg.payload.V;\n//\nvar Analog_Read1 = msg.payload.W;\nvar Analog_Read2 = msg.payload.X;\nvar Analog_Read3 = msg.payload.Y;\nvar Analog_Read4 = msg.payload.Z;\nvar Analog_Read5 = msg.payload.aa;\nvar Analog_Read6 = msg.payload.ab;\nvar Analog_Read7 = msg.payload.ac;\nvar Analog_Read8 = msg.payload.ad;\nvar Analog_Read9 = msg.payload.ae;\nvar DigitalRead1 = msg.payload.af;\nvar DigitalRead2 = msg.payload.ag;\nvar DigitalRead3 = msg.payload.ah;\nvar DigitalRead4 = msg.payload.ai;\nvar DigitalRead5 = msg.payload.aj;\nvar DigitalRead6 = msg.payload.ak;\nvar DigitalRead7 = msg.payload.al;\n// var Hours_Meter_Idle_Enginering = msg.payload.aW;\nvar Flow_Rate = msg.payload.am;\nvar Coolant_Level_Probe = msg.payload.an;\nvar Status_Fault_Code_Output = msg.payload.ao;\nvar Unix_Time = msg.payload.ap;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess =  msg.payload.P;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC; \nmsg.payload.Engine_RPM = Engine_RPM;\nmsg.payload.Fuel_Pressure = Fuel_Pressure;\nmsg.payload.Engine_Oil_Presssure = Engine_Oil_Presssure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Water_Pressure = Water_Pressure;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature ;\nmsg.payload.Fuel_Temperature = Fuel_Temperature;\nmsg.payload.Air_Inlate_Temperature = Air_Inlate_Temperature;\nmsg.payload.Engine_oil_Temperture = Engine_oil_Temperture;\nmsg.payload.Gear_Box_Temperature = Gear_Box_Temperature;\nmsg.payload.Exhaust_Temperature_RH = Exhaust_Temperature_RH;\nmsg.payload.Exhaust_Temperature_LH = Exhaust_Temperature_LH;\nmsg.payload.ACC_Voltage = ACC_Voltage;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Target_RPM = Target_RPM;\nmsg.payload.Friction_Torque = Friction_Torque;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Actual_Torque = Actual_Torque;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.HM_Engine = HM_Engine;\nmsg.payload.HM_Unit = HM_Unit;\n// \" Sampai z Kecil\"\nmsg.payload.AccelerometerX = AccelerometerX;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.GPS_Latitude = GPS_Latitude ;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed;\nmsg.payload.Temperature_Module = Temperature_Module;\nmsg.payload.Pump_Temperature = Pump_Temperature;\nmsg.payload.ID_UNIT = ID_UNIT;\nmsg.payload.Coolant_Level = Coolant_Level;\nmsg.payload.Asset_Pump_Number = Asset_Pump_Number;\nmsg.payload.Water_Flow_Meter = Water_Flow_Meter;\nmsg.payload.Fuel_Usage = Fuel_Usage;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Engine_Torque = Engine_Torque ;\nmsg.payload.Date_Time = Date_Time;\n//\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7;\n// msg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Flow_Rate = Flow_Rate;\nmsg.payload.Coolant_Level_Probe = Coolant_Level_Probe;\nmsg.payload.Status_Fault_Code_Output = Status_Fault_Code_Output;\nmsg.payload.Unix_Time = Unix_Time;\n\nurl = \"http://10.2.172.55:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "87c51cf6055edb1b"
            ]
        ]
    },
    {
        "id": "aad96ab8c9f79955",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "c57005d3f8e75a47",
                "4da0e8804e0b8e30"
            ]
        ]
    },
    {
        "id": "4da0e8804e0b8e30",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "87c51cf6055edb1b",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_WP_C27",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "27a292edbf02a69c"
            ]
        ]
    },
    {
        "id": "27a292edbf02a69c",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 520,
        "wires": []
    },
    {
        "id": "2b3d5b6b037f0db0",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutDrilling",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 300,
        "wires": [
            [
                "1c31fd0c5aacd8db",
                "5003b6e13bde784b"
            ]
        ]
    },
    {
        "id": "1c31fd0c5aacd8db",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Drilling Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_Rpm = msg.payload.a;\nvar Fuel_Pressure = msg.payload.b;\nvar Engine_Oil_Pressure = msg.payload.c;\nvar Boost_Pressure = msg.payload.d;\nvar Engine_Coolant_Temperature = msg.payload.e;\nvar Engine_Oil_Temperature = msg.payload.f;\nvar Air_Inlate_Temperature = msg.payload.g;\nvar ACC_Voltage = msg.payload.h;\nvar Battery_Voltage = msg.payload.i;\nvar Fuel_Rate = msg.payload.j;\nvar Engine_Load = msg.payload.k;\nvar Target_RPM = msg.payload.l;\nvar Friction_Percent_Torque = msg.payload.m;\nvar Drive_Torque = msg.payload.n;\nvar Engine_Percent_Torque = msg.payload.o;\nvar Single_SPN = msg.payload.p;\nvar Single_FMI = msg.payload.q;\nvar Occure_SPN = msg.payload.r;\nvar Fuel_Level = msg.payload.s;\nvar HM_Engine = msg.payload.t;\nvar AccelerometerX = msg.payload.u;\nvar AccelerometerY = msg.payload.v;\nvar AccelerometerZ = msg.payload.w;\nvar GyrometerX = msg.payload.x;\nvar GyrometerY = msg.payload.y;\nvar GyrometerZ = msg.payload.z;\n//\"Sampai z kecil\"\nvar AngleX = msg.payload.A;\nvar AngleY = msg.payload.B;\nvar AngleZ = msg.payload.C;\nvar GPS_Latitude = msg.payload.D;\nvar GPS_Longitude = msg.payload.E;\nvar GPS_Altitude = msg.payload.F;\nvar GPS_Speed = msg.payload.G;\nvar Temperature_Module = msg.payload.H;\nvar ID_Unit = msg.payload.I;\nvar Coolant_Level = msg.payload.J;\nvar Engine_Torque = msg.payload.K;\nvar Engine_Horse_Power = msg.payload.L;\nvar Drop_Rpm = msg.payload.M;\nvar Accelerator_Pedal_Position = msg.payload.N;\nvar Total_Fuel_Consumtion = msg.payload.O;\nvar HM_Unit = msg.payload.P;\nvar HM_Travel = msg.payload.Q;\nvar HM_Drill = msg.payload.R;\nvar Fuel_Temperature = msg.payload.S;\nvar Analog_Read1 = msg.payload.T;\nvar Analog_Read2 = msg.payload.U;\nvar Analog_Read3 = msg.payload.V;\nvar Analog_Read4 = msg.payload.W;\nvar Analog_Read5 = msg.payload.X;\nvar Analog_Read6 = msg.payload.Y;\nvar Analog_Read7 = msg.payload.Z;\nvar Analog_Read8 = msg.payload.aa;\nvar Analog_Read9 = msg.payload.ab;\nvar DigitalRead1 = msg.payload.ac;\nvar DigitalRead2 = msg.payload.ad;\nvar DigitalRead3 = msg.payload.ae;\nvar DigitalRead4 = msg.payload.af;\nvar DigitalRead5 = msg.payload.ag;\nvar DigitalRead6 = msg.payload.ah;\nvar DigitalRead7 = msg.payload.ai;\nvar Hours_Meter_Idle_Enginering = msg.payload.aj;\nvar Unix_Time = msg.payload.ak;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess =  msg.payload.I;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC; \nmsg.payload.Engine_Rpm = Engine_Rpm;\nmsg.payload.Fuel_Pressure = Fuel_Pressure;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\nmsg.payload.Air_Inlate_Temperature = Air_Inlate_Temperature;\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature;\nmsg.payload.ACC_Voltage = ACC_Voltage;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Target_RPM = Target_RPM;\nmsg.payload.Friction_Percent_Torque = Friction_Percent_Torque;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.HM_Engine = HM_Engine;\nmsg.payload.AccelerometerX = AccelerometerX;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\n// \" Sampai z Kecil\"\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed;\nmsg.payload.Temperature_Module = Temperature_Module;\nmsg.payload.ID_Unit = ID_Unit;\nmsg.payload.Coolant_Level = Coolant_Level;\nmsg.payload.Engine_Torque = Engine_Torque ;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Drop_Rpm = Drop_Rpm; \nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position;\nmsg.payload.Total_Fuel_Consumtion = Total_Fuel_Consumtion;\nmsg.payload.HM_Unit = HM_Unit;\nmsg.payload.HM_Travel = HM_Travel;\nmsg.payload.HM_Drill = HM_Drill;\nmsg.payload.Fuel_Temperature = Fuel_Temperature;\n//\"Sampai S Besar\"\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7;\nmsg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Unix_Time = Unix_Time;\n// End\nmsg.payload.Date_Time = Date_Time;\n\n\nurl  =\"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 300,
        "wires": [
            [
                "b5c9d36c25e84eb2"
            ]
        ]
    },
    {
        "id": "5003b6e13bde784b",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 68",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "b5c9d36c25e84eb2",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_DR_D245S",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "fabcdb7ca92a969d"
            ]
        ]
    },
    {
        "id": "fabcdb7ca92a969d",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 70",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "90abe7b6cce8ba95",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutEX1200-6",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "65cc4e7efde77f70",
                "caf0346b9a7190c9"
            ]
        ]
    },
    {
        "id": "65cc4e7efde77f70",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 72",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "1576866fc625417f",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_PC1200-6",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "87f7d4a38866ba8e"
            ]
        ]
    },
    {
        "id": "87f7d4a38866ba8e",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 73",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 400,
        "wires": []
    },
    {
        "id": "caf0346b9a7190c9",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Hitachi PC1200-6 Prepare Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_Speed = msg.payload.a;\nvar Engine_Load = msg.payload.b;\nvar Engine_Torque = msg.payload.c;\nvar Engine_Friction_Torque = msg.payload.d;\nvar Accelerator_Pedal_Position = msg.payload.e;\nvar Pedal_Position = msg.payload.f;\nvar Engine_Torque_Mode = msg.payload.g;\nvar Drive_Torque = msg.payload.h;\nvar Engine_Percent_Torque = msg.payload.i;\nvar Engine_Horse_Power = msg.payload.j;\nvar Target_Rpm_Engine = msg.payload.k;\nvar Desired_Operating_Speed_Assymetry_Adjustment = msg.payload.l;\nvar Engine_Hours = msg.payload.m;\nvar Engine_Idle_Hours = msg.payload.n;\nvar Engine_Idle_Fuel_Use = msg.payload.o;\nvar Total_Engine_Revolution = msg.payload.p;\nvar Total_Fuel_Consumtion = msg.payload.q;\nvar Total_Trip_Fuel_Use = msg.payload.r;\nvar Fuel_Rate = msg.payload.s;\nvar PTO_Rump = msg.payload.t;\nvar Engine_Oil_Pressure = msg.payload.u;\nvar Engine_Coolant_Pressure = msg.payload.v;\nvar Barometric_Pressure = msg.payload.w;\nvar Boost_Pressure = msg.payload.x;\nvar Air_Intake_Temperature = msg.payload.y;\nvar Engine_Coolant_Temperature = msg.payload.z;\n//\"Sampai z kecil\"\nvar Engine_Oil_Temperature = msg.payload.A;\nvar Ambient_Temperature = msg.payload.B;\nvar ECU_Temperature = msg.payload.C;\nvar Engine_Coolant_Level = msg.payload.D;\nvar Battery_Voltage = msg.payload.E;\nvar ECU_Run_Time = msg.payload.F;\nvar Drop_Rpm = msg.payload.G;\nvar Timming_Rail_Pressure = msg.payload.H;\nvar Matering_Rail_Pressure = msg.payload.I;\nvar Single_SPN = msg.payload.J;\nvar Single_FMI = msg.payload.K;\nvar Occure_SPN = msg.payload.L;\nvar Accelerator_Pedal_Switch = msg.payload.M;\nvar AccelerometerX = msg.payload.N;\nvar AccelerometerY = msg.payload.O;\nvar AccelerometerZ = msg.payload.P;\nvar GyrometerX = msg.payload.Q;\nvar GyrometerY = msg.payload.R;\nvar GyrometerZ = msg.payload.S;\nvar AngleX = msg.payload.T;\nvar AngleY = msg.payload.U;\nvar AngleZ = msg.payload.V;\nvar GPS_Latitude = msg.payload.W;\nvar GPS_Longitude = msg.payload.X;\nvar GPS_Altitude = msg.payload.Y;\nvar GPS_Speed = msg.payload.Z;\n// \" Sampai Z besar\"\nvar Temperature_Module = msg.payload.aA;\nvar ID_UNIT = msg.payload.aB;\nvar Hours_Meter_Unit = msg.payload.aC;\nvar Hours_Meter_Travel = msg.payload.aD;\nvar Fuel_Level = msg.payload.aE;\nvar Air_Cleaner_Indicator = msg.payload.aF;\n// Sampai aF\nvar Analog_Read1 = msg.payload.aG;\nvar Analog_Read2 = msg.payload.aH;\nvar Analog_Read3 = msg.payload.aI;\nvar Analog_Read4 = msg.payload.aJ;\nvar Analog_Read5 = msg.payload.aK;\nvar Analog_Read6 = msg.payload.aL;\nvar Analog_Read7 = msg.payload.aM;\nvar Analog_Read8 = msg.payload.aN;\nvar Analog_Read9 = msg.payload.aO;\nvar DigitalRead1 = msg.payload.aP;\nvar DigitalRead2 = msg.payload.aQ;\nvar DigitalRead3 = msg.payload.aR;\nvar DigitalRead4 = msg.payload.aS;\nvar DigitalRead5 = msg.payload.aT;\nvar DigitalRead6 = msg.payload.aU;\nvar DigitalRead7 = msg.payload.aV;\nvar Hours_Meter_Idle_Enginering = msg.payload.aW;\nvar Unix_Time = msg.payload.aX;\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess =  msg.payload.aB;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC; \nmsg.payload.Date_Time = Date_Time;\nmsg.payload.Engine_Speed = Engine_Speed;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Engine_Torque = Engine_Torque;\nmsg.payload.Engine_Friction_Torque = Engine_Friction_Torque;\nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position;\nmsg.payload.Pedal_Position = Pedal_Position;\nmsg.payload.Engine_Torque_Mode = Engine_Torque_Mode;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Target_Rpm_Engine = Target_Rpm_Engine;\nmsg.payload.Desired_Operating_Speed_Assymetry_Adjustment = Desired_Operating_Speed_Assymetry_Adjustment;\nmsg.payload.Engine_Hours = Engine_Hours;\nmsg.payload.Engine_Idle_Hours = Engine_Idle_Hours;\nmsg.payload.Engine_Idle_Fuel_Use = Engine_Idle_Fuel_Use;\nmsg.payload.Total_Engine_Revolution = Total_Engine_Revolution;\nmsg.payload.Total_Fuel_Consumtion = Total_Fuel_Consumtion;\nmsg.payload.Total_Trip_Fuel_Use = Total_Trip_Fuel_Use;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.PTO_Rump = PTO_Rump;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Engine_Coolant_Pressure = Engine_Coolant_Pressure;\nmsg.payload.Barometric_Pressure = Barometric_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Air_Intake_Temperature = Air_Intake_Temperature;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\n// \" Sampai z Kecil\"\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature;\nmsg.payload.Ambient_Temperature = Ambient_Temperature;\nmsg.payload.ECU_Temperature = ECU_Temperature;\nmsg.payload.Engine_Coolant_Level = Engine_Coolant_Level;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.ECU_Run_Time = ECU_Run_Time;\nmsg.payload.Drop_Rpm = Drop_Rpm;\nmsg.payload.Timming_Rail_Pressure = Timming_Rail_Pressure;\nmsg.payload.Matering_Rail_Pressure = Matering_Rail_Pressure;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI ;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.Accelerator_Pedal_Switch = Accelerator_Pedal_Switch; \nmsg.payload.AccelerometerX = AccelerometerX;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed;\n//\"Sampai Z Besar\"\nmsg.payload.Temperature_Module = Temperature_Module;\nmsg.payload.ID_UNIT = ID_UNIT;\nmsg.payload.Hours_Meter_Unit = Hours_Meter_Unit;\nmsg.payload.Hours_Meter_Travel = Hours_Meter_Travel;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.Air_Cleaner_Indicator = Air_Cleaner_Indicator;\n// Sampai aF\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7;\nmsg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Unix_Time = Unix_Time;\n\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "1576866fc625417f"
            ]
        ]
    },
    {
        "id": "484e4416e40318ca",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutScania",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 740,
        "wires": [
            [
                "46403b7de0dd4b18",
                "9d66e446b6f66734"
            ]
        ]
    },
    {
        "id": "46403b7de0dd4b18",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 76",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "0a6dab2827296468",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_Scania",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "569ce692c810f6f7"
            ]
        ]
    },
    {
        "id": "569ce692c810f6f7",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 77",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "9d66e446b6f66734",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Scania Lightruck Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\n// \" Start message\"\nvar Engine_RPM = msg.payload.a;\nvar Engine_Oil_Pressure = msg.payload.b;\nvar Boost_Pressure = msg.payload.c;\nvar Engine_Coolant_Temperature = msg.payload.d;\nvar Engine_Oil_Temperature = msg.payload.e;\nvar Battery_Voltage = msg.payload.f;\nvar Air_Inlate_Temperature = msg.payload.g;\nvar Exhaust_Temperature = msg.payload.h;\nvar Fuel_Rate = msg.payload.i;\nvar Engine_Percent_Torque = msg.payload.j;\nvar Actual_Torque = msg.payload.k;\nvar Barometric_Pressure = msg.payload.l;\nvar Ambient_Temperature = msg.payload.m;\nvar Engine_Coolant_Level = msg.payload.n;\nvar Engine_Torque_Mode = msg.payload.o;\nvar Drive_Percent_Torque = msg.payload.p;\nvar Accelerator_Pedal_Position = msg.payload.q;\nvar Accelerator_Pedal_Status = msg.payload.r;\nvar Percent_Load_Current_Speed = msg.payload.s;\nvar Single_SPN = msg.payload.t;\nvar Single_FMI = msg.payload.u;\nvar Occure_SPN = msg.payload.v;\nvar VIN_Number = msg.payload.w;\nvar Vehicle_Weight = msg.payload.x;\nvar Total_Fuel_Usage = msg.payload.y;\nvar Fuel_Level = msg.payload.z;\n// Sampai z \" Kecil\"\nvar Fuel_Ecconomi = msg.payload.A;\nvar AccelerometerX = msg.payload.B;\nvar AccelerometerY = msg.payload.C;\nvar AccelerometerZ = msg.payload.D;\nvar GyrometerX = msg.payload.E;\nvar GyrometerY = msg.payload.F;\nvar GyrometerZ = msg.payload.G;\nvar AngleX = msg.payload.H;\nvar AngleY = msg.payload.I;\nvar AngleZ = msg.payload.J;\nvar GPS_Latitude = msg.payload.K;\nvar GPS_Longitude = msg.payload.L;\nvar GPS_Altitude = msg.payload.M;\nvar GPS_Speed = msg.payload.N;\nvar Temperature_Module = msg.payload.O;\nvar ID_UNIT = msg.payload.P;\nvar KM_Unit = msg.payload.Q;\nvar HM_Engine = msg.payload.R;\nvar HM_Unit = msg.payload.S;\nvar HM_Transmisi = msg.payload.T;\nvar Vehicle_Speed = msg.payload.U;\nvar Out_Shaft_Speed = msg.payload.V;\nvar Wheel_Base_Speed = msg.payload.W;\nvar Trailler_Air_Pressure = msg.payload.X;\nvar Service_Break_Air_Pressure1 = msg.payload.Y;\nvar Service_Break_Air_Pressure2 = msg.payload.Z;\n//\"Sampai Z Besar\"\nvar Air_Compressor_Status = msg.payload.aA;\nvar Break_Pedal_Position = msg.payload.aB;\nvar Retarder_Mode = msg.payload.aC;\nvar Actual_Retarder_Percent_Torque = msg.payload.aD;\nvar Cruise_Control_Byte1 = msg.payload.aE;\nvar Cruise_Control_Byte4 = msg.payload.aF;\nvar Cruise_Control_Byte5 = msg.payload.aG;\nvar Cruise_Control_Byte7 = msg.payload.aH;\nvar Engine_Horse_Power = msg.payload.aI;\nvar Target_Rpm_Engine = msg.payload.aJ;\nvar Desired_Operating_Speed_Assymetry_Adjustment = msg.payload.aK;\nvar Engine_Idle_Hours = msg.payload.aL;\nvar Engine_Idle_Fuel_Use = msg.payload.aM;\nvar Total_Engine_Revolution = msg.payload.aN;\nvar ECU_Temperature = msg.payload.aO;\nvar ECU_Run_Time = msg.payload.aP;\nvar Drop_Rpm = msg.payload.aQ;\n//\n\nvar Analog_Read1 = msg.payload.aR;\nvar Analog_Read2 = msg.payload.aS;\nvar Analog_Read3 = msg.payload.aT;\nvar Analog_Read4 = msg.payload.aU;\nvar Analog_Read5 = msg.payload.aV;\nvar Analog_Read6 = msg.payload.aW;\nvar Analog_Read7 = msg.payload.aX;\nvar Analog_Read8 = msg.payload.aY;\nvar Analog_Read9 = msg.payload.aZ;\nvar DigitalRead1 = msg.payload.aa;\nvar DigitalRead2 = msg.payload.ab;\nvar DigitalRead3 = msg.payload.ac;\nvar DigitalRead4 = msg.payload.ad;\nvar DigitalRead5 = msg.payload.ae;\nvar DigitalRead6 = msg.payload.af;\nvar DigitalRead7 = msg.payload.ag;\nvar Hours_Meter_Idle_Enginering = msg.payload.ah;\nvar Unix_Time = msg.payload.ai;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess =  msg.payload.P;\ndelete msg.payload;\nmsg.payload = { };\nmsg.payload.UTC = UTC; \nmsg.payload.Date_Time = Date_Time;\n// \" Start Message\"\nmsg.payload.Engine_RPM = Engine_RPM;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature ;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Air_Inlate_Temperature = Air_Inlate_Temperature;\nmsg.payload.Exhaust_Temperature = Exhaust_Temperature;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Actual_Torque = Actual_Torque;\nmsg.payload.Barometric_Pressure = Barometric_Pressure;\nmsg.payload.Ambient_Temperature = Ambient_Temperature;\nmsg.payload.Engine_Coolant_Level = Engine_Coolant_Level;\nmsg.payload.Engine_Torque_Mode = Engine_Torque_Mode;\nmsg.payload.Drive_Percent_Torque = Drive_Percent_Torque;\nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position;\nmsg.payload.Accelerator_Pedal_Status = Accelerator_Pedal_Status;\nmsg.payload.Percent_Load_Current_Speed = Percent_Load_Current_Speed;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.VIN_Number = VIN_Number;\nmsg.payload.Vehicle_Weight = Vehicle_Weight;\nmsg.payload.Total_Fuel_Usage = Total_Fuel_Usage;\nmsg.payload.Fuel_Level = Fuel_Level;\n//\"Sampai z kecil\"\nmsg.payload.Fuel_Ecconomi = Fuel_Ecconomi;\nmsg.payload.AccelerometerX = AccelerometerX;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed;\nmsg.payload.Temperature_Module = Temperature_Module;\nmsg.payload.ID_UNIT = ID_UNIT;\nmsg.payload.KM_Unit = KM_Unit;\nmsg.payload.HM_Engine = HM_Engine;\nmsg.payload.HM_Unit = HM_Unit;\nmsg.payload.HM_Transmisi = HM_Transmisi;\nmsg.payload.Vehicle_Speed = Vehicle_Speed;\nmsg.payload.Out_Shaft_Speed = Out_Shaft_Speed;\nmsg.payload.Wheel_Base_Speed = Wheel_Base_Speed;\nmsg.payload.Trailler_Air_Pressure = Trailler_Air_Pressure;\nmsg.payload.Service_Break_Air_Pressure1 = Service_Break_Air_Pressure1;\nmsg.payload.Service_Break_Air_Pressure2 = Service_Break_Air_Pressure2;\n// \" Samapai Z\"\nmsg.payload.Air_Compressor_Status = Air_Compressor_Status;\nmsg.payload.Break_Pedal_Position = Break_Pedal_Position;\nmsg.payload.Retarder_Mode = Retarder_Mode;\nmsg.payload.Actual_Retarder_Percent_Torque = Actual_Retarder_Percent_Torque;\nmsg.payload.Cruise_Control_Byte1 = Cruise_Control_Byte1;\nmsg.payload.Cruise_Control_Byte4 = Cruise_Control_Byte4;\nmsg.payload.Cruise_Control_Byte5 = Cruise_Control_Byte5;\nmsg.payload.Cruise_Control_Byte7 = Cruise_Control_Byte7;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Target_Rpm_Engine = Target_Rpm_Engine;\nmsg.payload.Desired_Operating_Speed_Assymetry_Adjustment = Desired_Operating_Speed_Assymetry_Adjustment;\nmsg.payload.Engine_Idle_Hours = Engine_Idle_Hours;\nmsg.payload.Engine_Idle_Fuel_Use = Engine_Idle_Fuel_Use;\nmsg.payload.Total_Engine_Revolution = Total_Engine_Revolution;\nmsg.payload.ECU_Temperature = ECU_Temperature;\nmsg.payload.ECU_Run_Time = ECU_Run_Time;\nmsg.payload.Drop_Rpm = Drop_Rpm;\n// \" Sampai aQ\"\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7;\nmsg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Unix_Time = Unix_Time;\n\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 740,
        "wires": [
            [
                "0a6dab2827296468"
            ]
        ]
    },
    {
        "id": "6ece84a7e26fa68b",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutPC850",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "6c88c84a541b7caa",
                "effaf07684403b79"
            ]
        ]
    },
    {
        "id": "6c88c84a541b7caa",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "PC850 Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_Speed = msg.payload.a;\nvar Engine_Load = msg.payload.b;\nvar Engine_Torque = msg.payload.c;\nvar Engine_Friction_Torque = msg.payload.d;\nvar Accelerator_Pedal_Position = msg.payload.e;\nvar Pedal_Position = msg.payload.f;\nvar Engine_Torque_Mode = msg.payload.g;\nvar Drive_Torque = msg.payload.h;\nvar Engine_Percent_Torque = msg.payload.i;\nvar Engine_Horse_Power = msg.payload.j;\nvar Target_Rpm_Engine = msg.payload.k;\nvar Desired_Operating_Speed_Assymetry_Adjustment = msg.payload.l;\nvar Engine_Hours = msg.payload.m;\nvar Engine_Idle_Hours = msg.payload.n;\nvar Engine_Idle_Fuel_Use = msg.payload.o;\nvar Total_Engine_Revolution = msg.payload.p;\nvar Total_Fuel_Consumtion = msg.payload.q;\nvar Total_Trip_Fuel_Use = msg.payload.r;\nvar Fuel_Rate = msg.payload.s;\nvar Common_Rail_Pressure = msg.payload.t;\nvar Engine_Oil_Pressure = msg.payload.u;\nvar Engine_Coolant_Pressure = msg.payload.v;\nvar Barometric_Pressure = msg.payload.w;\nvar Boost_Pressure = msg.payload.x;\nvar Fuel_Temperature = msg.payload.y;\nvar Air_Intake_Temperature = msg.payload.z;\nvar Engine_Coolant_Temperature = msg.payload.A;\nvar Engine_Oil_Temperature = msg.payload.B;\nvar Ambient_Temperature = msg.payload.C;\nvar ECU_Temperature = msg.payload.D;\nvar Engine_Coolant_Level = msg.payload.E;\nvar Battery_Voltage = msg.payload.F;\nvar Single_SPN = msg.payload.G;\nvar Single_FMI = msg.payload.H;\nvar Occure_SPN = msg.payload.I;\nvar AccelerometerX = msg.payload.J;\nvar AccelerometerY = msg.payload.K;\nvar AccelerometerZ = msg.payload.L;\nvar GyrometerX = msg.payload.M;\nvar GyrometerY = msg.payload.N;\nvar GyrometerZ = msg.payload.O;\nvar AngleX = msg.payload.P;\nvar AngleY = msg.payload.Q;\nvar AngleZ = msg.payload.R;\nvar GPS_Latitude = msg.payload.S;\nvar GPS_Longitude = msg.payload.T;\nvar GPS_Altitude = msg.payload.U;\nvar GPS_Speed = msg.payload.V;\nvar Temperature_Module = msg.payload.W;\n\n\nvar Hydraulic_Oil_Temperature = msg.payload.X;\nvar ID_UNIT = msg.payload.Y;\nvar ECU_Run_Time = msg.payload.Z;\nvar Hours_Meter_Unit = msg.payload.aA;\nvar Drop_Rpm = msg.payload.aB;\nvar Fuel_Dial = msg.payload.aC;\nvar Hours_Meter_Travel = msg.payload.aD;\nvar F_Pump_Pressure = msg.payload.aE;\nvar R_Pump_Pressure = msg.payload.aF;\nvar L_Jet_Sensor_Pressure = msg.payload.aG;\nvar R_Jet_Sensor_Pressure = msg.payload.aH;\nvar Swing_Pressure_Switch = msg.payload.aI;\nvar R_H_travel_Pressure_Switch = msg.payload.aJ;\nvar Boom_Lower_Pressure_Switch = msg.payload.aK;\nvar Boom_Raise_Pressure_Switch = msg.payload.aL;\nvar Arm_Curl_Pressure_Switch = msg.payload.aM;\nvar Arm_Dump_Pressure_Switch = msg.payload.aN;\n\nvar Bucket_Curl_Pressure_Switch= msg.payload.aO;\nvar Bucket_Dump_Pressure_Switch = msg.payload.aP;\nvar Service_Pressure_Switch = msg.payload.aQ;\nvar L_H_travel_Pressure_Switch = msg.payload.aR;\nvar Fuel_Level = msg.payload.aS;\nvar Air_Cleaner_Indicator = msg.payload.aT;\nvar Monitor = msg.payload.aU;\nvar Komtrack = msg.payload.aV;\nvar Hydraulic = msg.payload.aW;\n//\nvar Analog_Read1 = msg.payload.aX;\nvar Analog_Read2 = msg.payload.aY;\nvar Analog_Read3 = msg.payload.aZ;\nvar Analog_Read4 = msg.payload.aa;\nvar Analog_Read5 = msg.payload.ab;\nvar Analog_Read6 = msg.payload.ac;\nvar Analog_Read7 = msg.payload.ad;\nvar Analog_Read8 = msg.payload.ae;\nvar Analog_Read9 = msg.payload.af;\nvar DigitalRead1 = msg.payload.ag;\nvar DigitalRead2 = msg.payload.ah;\nvar DigitalRead3 = msg.payload.ai;\nvar DigitalRead4 = msg.payload.aj;\nvar DigitalRead5 = msg.payload.ak;\nvar DigitalRead6 = msg.payload.al;\nvar DigitalRead7 = msg.payload.am;\nvar Hours_Meter_Idle_Enginering = msg.payload.an;\nvar Unix_Time = msg.payload.ao;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess = msg.payload.Y;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC; \nmsg.payload.Date_Time = Date_Time;\n\n\n\n\n\n\n\n\n\nmsg.payload.Engine_Speed = Engine_Speed;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Engine_Torque = Engine_Torque;\nmsg.payload.Engine_Friction_Torque = Engine_Friction_Torque;\nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position ;\nmsg.payload.Pedal_Position = Pedal_Position;\nmsg.payload.Engine_Torque_Mode = Engine_Torque_Mode;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Target_Rpm_Engine = Target_Rpm_Engine;\nmsg.payload.Desired_Operating_Speed_Assymetry_Adjustment = Desired_Operating_Speed_Assymetry_Adjustment;\nmsg.payload.Engine_Hours = Engine_Hours;\nmsg.payload.Engine_Idle_Hours = Engine_Idle_Hours;\nmsg.payload.Engine_Idle_Fuel_Use = Engine_Idle_Fuel_Use;\nmsg.payload.Total_Engine_Revolution = Total_Engine_Revolution;\nmsg.payload.Total_Fuel_Consumtion = Total_Fuel_Consumtion;\nmsg.payload.Total_Trip_Fuel_Use = Total_Trip_Fuel_Use;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Common_Rail_Pressure = Common_Rail_Pressure;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Engine_Coolant_Pressure = Engine_Coolant_Pressure;\nmsg.payload.Barometric_Pressure = Barometric_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Fuel_Temperature = Fuel_Temperature;\nmsg.payload.Air_Intake_Temperature = Air_Intake_Temperature;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature;\nmsg.payload.Ambient_Temperature = Ambient_Temperature;\nmsg.payload.ECU_Temperature = ECU_Temperature;\nmsg.payload.Engine_Coolant_Level = Engine_Coolant_Level;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.AccelerometerX = AccelerometerX ;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed ;\nmsg.payload.Temperature_Module = Temperature_Module ;\n\n\nmsg.payload.Hydraulic_Oil_Temperature = Hydraulic_Oil_Temperature;\nmsg.payload.ID_UNIT = ID_UNIT;\nmsg.payload.ECU_Run_Time = ECU_Run_Time;\nmsg.payload.Hours_Meter_Unit = Hours_Meter_Unit;\nmsg.payload.Drop_Rpm = Drop_Rpm;\nmsg.payload.Fuel_Dial = Fuel_Dial;\nmsg.payload.Hours_Meter_Travel = Hours_Meter_Travel;\nmsg.payload.F_Pump_Pressure = F_Pump_Pressure;\nmsg.payload.R_Pump_Pressure = R_Pump_Pressure;\nmsg.payload.L_Jet_Sensor_Pressure = L_Jet_Sensor_Pressure;\nmsg.payload.R_Jet_Sensor_Pressure = R_Jet_Sensor_Pressure;\nmsg.payload.Swing_Pressure_Switch = Swing_Pressure_Switch;\nmsg.payload.R_H_travel_Pressure_Switch = R_H_travel_Pressure_Switch;\nmsg.payload.Boom_Lower_Pressure_Switch = Boom_Lower_Pressure_Switch;\nmsg.payload.Boom_Raise_Pressure_Switch = Boom_Raise_Pressure_Switch;\nmsg.payload.Arm_Curl_Pressure_Switch = Arm_Curl_Pressure_Switch;\nmsg.payload.Arm_Dump_Pressure_Switch = Arm_Dump_Pressure_Switch;\n\nmsg.payload.Bucket_Curl_Pressure_Switch = Bucket_Curl_Pressure_Switch;\nmsg.payload.Bucket_Dump_Pressure_Switch = Bucket_Dump_Pressure_Switch;\nmsg.payload.Service_Pressure_Switch = Service_Pressure_Switch;\nmsg.payload.L_H_travel_Pressure_Switch = L_H_travel_Pressure_Switch;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.Air_Cleaner_Indicator = Air_Cleaner_Indicator;\nmsg.payload.Monitor = Monitor;\nmsg.payload.Komtrack = Komtrack;\nmsg.payload.Hydraulic = Hydraulic;\n//\nmsg.payload.Analog_Read1 = Analog_Read1;\nmsg.payload.Analog_Read2 = Analog_Read2;\nmsg.payload.Analog_Read3 = Analog_Read3;\nmsg.payload.Analog_Read4 = Analog_Read4;\nmsg.payload.Analog_Read5 = Analog_Read5;\nmsg.payload.Analog_Read6 = Analog_Read6;\nmsg.payload.Analog_Read7 = Analog_Read7;\nmsg.payload.Analog_Read8 = Analog_Read8;\nmsg.payload.Analog_Read9 = Analog_Read9;\nmsg.payload.DigitalRead1 = DigitalRead1;\nmsg.payload.DigitalRead2 = DigitalRead2;\nmsg.payload.DigitalRead3 = DigitalRead3;\nmsg.payload.DigitalRead4 = DigitalRead4;\nmsg.payload.DigitalRead5 = DigitalRead5;\nmsg.payload.DigitalRead6 = DigitalRead6;\nmsg.payload.DigitalRead7 = DigitalRead7;\nmsg.payload.Hours_Meter_Idle_Enginering = Hours_Meter_Idle_Enginering;\nmsg.payload.Unix_Time = Unix_Time;\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "2f093956fa788258"
            ]
        ]
    },
    {
        "id": "2f093956fa788258",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "PostPC850",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "2ba6e9e0ad6636e0"
            ]
        ]
    },
    {
        "id": "2ba6e9e0ad6636e0",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 99",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "effaf07684403b79",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 101",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "58377b02cf49a48f",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "WEIR C27",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Water_Pump]\n           ([Engine_RPM]\n           ,[Fuel_Pressure]\n           ,[Engine_Oil_Presssure]\n           ,[Boost_Pressure]\n           ,[Water_Pressure]\n           ,[Engine_Coolant_Temperature]\n           ,[Fuel_Temperature]\n           ,[Air_Inlate_Temperature]\n           ,[Engine_oil_Temperture]\n           ,[Gear_Box_Temperature]\n           ,[Exhaust_Temperature_RH]\n           ,[Exhaust_Temperature_LH]\n           ,[ACC_Voltage]\n           ,[Battery_Voltage]\n           ,[Fuel_Rate]\n           ,[Engine_Load]\n           ,[Target_RPM]\n           ,[Friction_Torque]\n           ,[Drive_Torque]\n           ,[Actual_Torque]\n           ,[Single_SPN]\n           ,[Single_FMI]\n           ,[Occure_SPN]\n           ,[Fuel_Level]\n           ,[HM_Engine]\n           ,[HM_Unit]\n           ,[AccelerometerX]\n           ,[AccelerometerY]\n           ,[AccelerometerZ]\n           ,[GyrometerX]\n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]\n           ,[AngleY]\n           ,[AngleZ]\n           ,[GPS_Latitude]\n           ,[GPS_Longitude]\n           ,[GPS_Altitude]\n           ,[GPS_Speed]\n           ,[Temperature_Module]\n           ,[Pump_Temperature]\n           ,[CN_Unit]\n           ,[Coolant_Level]\n           ,[Asset_Pump_Number]\n           ,[Water_Flow_Meter]\n           ,[Date_Time]\n           ,[Fuel_Usage]\n)\n     VALUES\n( '{{payload.a}}'\n, '{{payload.b}}'\n, '{{payload.c}}'\n, '{{payload.d}}'\n, '{{payload.e}}'\n, '{{payload.f}}'\n, '{{payload.g}}'\n, '{{payload.h}}'\n, '{{payload.i}}'\n, '{{payload.j}}'\n, '{{payload.k}}'\n, '{{payload.l}}'\n, '{{payload.m}}'\n, '{{payload.n}}'\n, '{{payload.o}}'\n, '{{payload.p}}'\n, '{{payload.q}}'\n, '{{payload.r}}'\n, '{{payload.s}}'\n, '{{payload.t}}'\n, '{{payload.u}}'\n, '{{payload.v}}'\n, '{{payload.w}}'\n, '{{payload.x}}'\n, '{{payload.y}}'\n, '{{payload.z}}'\n, '{{payload.A}}'\n, '{{payload.B}}'\n, '{{payload.C}}'\n, '{{payload.D}}'\n, '{{payload.E}}'\n, '{{payload.F}}'\n, '{{payload.G}}'\n, '{{payload.H}}'\n, '{{payload.I}}'\n, '{{payload.J}}'\n, '{{payload.K}}'\n, '{{payload.L}}'\n, '{{payload.M}}'\n, '{{payload.N}}'\n, '{{payload.O}}'\n, '{{payload.P}}'\n, '{{payload.Q}}'\n, '{{payload.R}}'\n, '{{payload.S}}'\n,getdate()\n, '{{payload.T}}'\n)",
        "output": "str",
        "x": 670,
        "y": 940,
        "wires": [
            [
                "9223e0736c1ec94f",
                "39280a93b5c9df0d"
            ]
        ]
    },
    {
        "id": "ebbf3e48eeebc658",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7d141a05659b939a",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a1545b32be30bedc",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "39280a93b5c9df0d",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "9223e0736c1ec94f",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 880,
        "wires": []
    },
    {
        "id": "da14cca69a6ec5b3",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "69d1707e6db20ebc",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1160,
        "wires": []
    },
    {
        "id": "926163e882354b30",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "DZ_155",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Dozer_155](\n            [Date_Time]\n           ,[UTC]\n           ,[Engine_Speed]\n           ,[Engine_Load]\n           ,[Engine_Torque]\n           ,[Engine_Friction_Torque]\n           ,[Accelerator_Pedal_Position]           \n           ,[Pedal_Position]\n           ,[Engine_Torque_Mode]\n           ,[Drive_Torque]\n           ,[Engine_Percent_Torque]\n           ,[Engine_Horse_Power]               \n           ,[Target_Rpm_Engine]\n           ,[Desired_Operating_Speed_Assymetry_Adjustment]\n           ,[Engine_Hours]\n           ,[Engine_Idle_Hours]\n           ,[Engine_Idle_Fuel_Use]           \n           ,[Total_Engine_Revolution]\n           ,[Total_Fuel_Consumtion]\n           ,[Total_Trip_Fuel_Use]\n           ,[Fuel_Rate]    \n           ,[Common_Rail_Pressure]\n           ,[Engine_Oil_Pressure]               \n           ,[Engine_Coolant_Pressure]           \n           ,[Barometric_Pressure]\n           ,[Boost_Pressure]               \n           ,[Fuel_Temperature]\n           ,[Air_Intake_Temperature]           \n           ,[Engine_Coolant_Temperature]\n           ,[Engine_Oil_Temperature]\n           ,[Ambient_Temperature]\n           ,[ECU_Temperature]\n           ,[Engine_Coolant_Level]\n           ,[Battery_Voltage]\n           ,[Single_SPN]           \n           ,[Single_FMI]\n           ,[Occure_SPN]\n           ,[AccelerometerX]\n           ,[AccelerometerY]\n           ,[AccelerometerZ]               \n           ,[GyrometerX]\n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]\n           ,[AngleY]           \n           ,[AngleZ]\n           ,[GPS_Latitude]\n           ,[GPS_Longitude]\n           ,[GPS_Altitude]    \n           ,[GPS_Speed]\n           ,[Temperature_Module]               \n           ,[Fan_Speed]           \n           ,[Transmisi_Oil_Temperature]\n           ,[Hydraulic_Pump_Pressure]               \n           ,[Hydraulic_Oil_Temperature]\n           ,[Transmisi_Out_Speed]\n           ,[Vehicle_Speed]\n           ,[Pitch_Angle]\n           ,[Fuel_Level]               \n           ,[Air_Cleaner_Indicator]\n           ,[ID_UNIT]\n           ,[Hours_Meter_Unit]\n           ,[Hours_Meter_Transmition]\n           ,[Hours_Meter_Travel]\n           ,[ECU_Run_Time]\n           ,[Drop_Rpm]   \n           ,[Decelerator_Pedal] \n           ,[Fuel_Dial] \n)\nVALUES\n( getdate()\n, getutcdate()\n,'{{payload.a}}'\n,'{{payload.b}}'\n,'{{payload.c}}'\n,'{{payload.d}}'\n,'{{payload.e}}'\n,'{{payload.f}}'\n,'{{payload.g}}'\n,'{{payload.h}}'\n,'{{payload.i}}'\n,'{{payload.j}}'\n,'{{payload.k}}'\n,'{{payload.l}}'\n,'{{payload.m}}'\n,'{{payload.n}}'\n,'{{payload.o}}'\n,'{{payload.p}}'\n,'{{payload.q}}'\n,'{{payload.r}}'\n,'{{payload.s}}'\n,'{{payload.t}}'\n,'{{payload.u}}'\n,'{{payload.v}}'\n,'{{payload.w}}'\n,'{{payload.x}}'\n,'{{payload.y}}'\n,'{{payload.z}}'\n,'{{payload.A}}'\n,'{{payload.B}}'\n,'{{payload.C}}'\n,'{{payload.D}}'\n,'{{payload.E}}'\n,'{{payload.F}}'\n,'{{payload.G}}'\n,'{{payload.H}}'\n,'{{payload.I}}'\n,'{{payload.J}}'\n,'{{payload.K}}'\n,'{{payload.L}}'\n,'{{payload.M}}'\n,'{{payload.N}}'\n,'{{payload.O}}'\n,'{{payload.P}}'\n,'{{payload.Q}}'\n,'{{payload.R}}'\n,'{{payload.S}}'\n,'{{payload.T}}'\n,'{{payload.U}}'\n,'{{payload.V}}'\n,'{{payload.W}}'\n,'{{payload.X}}'\n,'{{payload.Y}}'\n,'{{payload.Z}}'\n,'{{payload.aA}}'\n,'{{payload.aB}}'\n,'{{payload.aC}}'\n,'{{payload.aD}}'\n,'{{payload.aE}}'\n,'{{payload.aF}}'\n,'{{payload.aG}}'\n,'{{payload.aH}}'\n,'{{payload.aI}}'\n,'{{payload.aJ}}'\n,'{{payload.aK}}'\n,'{{payload.aL}}'\n,'{{payload.aM}}'\n,'{{payload.aN}}'\n)",
        "output": "str",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "13d9a8e27a854b15",
                "7d141a05659b939a"
            ]
        ]
    },
    {
        "id": "13d9a8e27a854b15",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e29e78f740b95708",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "Dozer_outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "926163e882354b30",
                "282f1b702d1343aa"
            ]
        ]
    },
    {
        "id": "282f1b702d1343aa",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "102fa7fbcd763c6d",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 940,
        "wires": [
            [
                "a1545b32be30bedc",
                "58377b02cf49a48f"
            ]
        ]
    },
    {
        "id": "5246cb7de8ec3015",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutDrilling",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "4656c19e4ecbe0bf",
                "ebbf3e48eeebc658"
            ]
        ]
    },
    {
        "id": "4656c19e4ecbe0bf",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "D245s",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Drilling_D245S]\n           ([Date_Time]\n           ,[UTC_Time]\n           ,[Engine_Rpm]\n           ,[Fuel_Pressure]\n           ,[Engine_Oil_Pressure]\n           ,[Boost_Pressure]\n           ,[Engine_Coolant_Temperature]           \n           ,[Air_Inlate_Temperature]\n           ,[Engine_Oil_Temperature]\n           ,[ACC_Voltage]\n           ,[Battery_Voltage]\n           ,[Fuel_Rate]               \n           ,[Engine_Load]\n           ,[Target_RPM]\n           ,[Friction_Percent_Torque]\n           ,[Drive_Torque]\n           ,[Engine_Percent_Torque]           \n           ,[Single_SPN]\n           ,[Single_FMI]\n           ,[Occure_SPN]\n           ,[Fuel_Level]    \n           ,[HM_Engine]\n           ,[AccelerometerX]               \n           ,[AccelerometerY]           \n           ,[AccelerometerZ]\n           ,[GyrometerX]               \n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]\n           ,[AngleY]\n           ,[AngleZ]\n           ,[GPS_Latitude]\n           ,[GPS_Longitude]           \n           ,[GPS_Altitude]\n           ,[GPS_Speed]\n           ,[Temperature_Module]\n           ,[ID_Unit]\n           ,[Coolant_Level]               \n           ,[Engine_Torque]\n           ,[Engine_Horse_Power]\n           ,[Drop_Rpm]\n           ,[Accelerator_Pedal_Position]\n           ,[Total_Fuel_Consumtion]\n           ,[HM_Unit]\n           ,[HM_Travel]               \n           ,[HM_Drill]\n           ,[Fuel_Temperature]          \n)\n     VALUES\n( getdate()\n, getutcdate()\n, '{{payload.a}}'\n, '{{payload.b}}'\n, '{{payload.c}}'\n, '{{payload.d}}'\n, '{{payload.e}}'\n, '{{payload.f}}'\n, '{{payload.g}}'\n, '{{payload.h}}'\n, '{{payload.i}}'\n, '{{payload.j}}'\n, '{{payload.k}}'\n, '{{payload.l}}'\n, '{{payload.m}}'\n, '{{payload.n}}'\n, '{{payload.o}}'\n, '{{payload.p}}'\n, '{{payload.q}}'\n, '{{payload.r}}'\n, '{{payload.s}}'\n, '{{payload.t}}'\n, '{{payload.u}}'\n, '{{payload.v}}'\n, '{{payload.w}}'\n, '{{payload.x}}'\n, '{{payload.y}}'\n, '{{payload.z}}'\n, '{{payload.A}}'\n, '{{payload.B}}'\n, '{{payload.C}}'\n, '{{payload.D}}'\n, '{{payload.E}}'\n, '{{payload.F}}'\n, '{{payload.G}}'\n, '{{payload.H}}'\n, '{{payload.I}}'\n, '{{payload.J}}'\n, '{{payload.K}}'\n, '{{payload.L}}'\n, '{{payload.M}}'\n, '{{payload.N}}'\n, '{{payload.O}}'\n, '{{payload.P}}'\n, '{{payload.Q}}'\n, '{{payload.R}}'\n, '{{payload.S}}'\n)",
        "output": "str",
        "x": 650,
        "y": 1220,
        "wires": [
            [
                "da14cca69a6ec5b3",
                "69d1707e6db20ebc"
            ]
        ]
    },
    {
        "id": "a7891c8a81634547",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fee61d8f84eff301",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "EX1200-6",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[PC1200-6]\n           ([Date_Time]\n           ,[UTC_Time]\n           \n           ,[Engine_Speed]\n           ,[Engine_Load]\n           ,[Engine_Torque]\n           ,[Engine_Friction_Torque]\n           ,[Accelerator_Pedal_Position]\n           ,[Pedal_Position]\n           ,[Engine_Torque_Mode]\n           ,[Drive_Torque]\n           ,[Engine_Percent_Torque]\n           ,[Engine_Horse_Power]\n           ,[Target_Rpm_Engine]\n           ,[Desired_Operating_Speed_Assymetry_Adjustment]\n           ,[Engine_Hours]\n           ,[Engine_Idle_Hours]\n           ,[Engine_Idle_Fuel_Use]\n           ,[Total_Engine_Revolution]\n           ,[Total_Fuel_Consumtion]\n           ,[Total_Trip_Fuel_Use]\n           ,[Fuel_Rate]\n           ,[PTO_Rump]\n           ,[Engine_Oil_Pressure]\n           ,[Engine_Coolant_Pressure]\n           ,[Barometric_Pressure]\n           ,[Boost_Pressure]\n           ,[Air_Intake_Temperature]\n           ,[Engine_Coolant_Temperature]\n\n           ,[Engine_Oil_Temperature]\n           ,[Ambient_Temperature]\n           ,[ECU_Temperature]\n           ,[Engine_Coolant_Level]\n           ,[Battery_Voltage]\n           ,[ECU_Run_Time]\n           ,[Drop_Rpm]\n           ,[Timming_Rail_Pressure]\n           ,[Matering_Rail_Pressure]\n           ,[Single_SPN]\n           ,[Single_FMI]\n           ,[Occure_SPN]\n           ,[Accelerator_Pedal_Switch]\n           ,[AccelerometerX]\n           ,[AccelerometerY]\n           ,[AccelerometerZ]\n           ,[GyrometerX]\n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]\n           ,[AngleY]\n           ,[AngleZ]\n           ,[GPS_Latitude]\n           ,[GPS_Longitude]\n           ,[GPS_Altitude]\n           ,[GPS_Speed]\n\n           ,[Temperature_Module]\n           ,[ID_UNIT]\n           ,[Hours_Meter_Unit]\n           ,[Hours_Meter_Travel]\n           ,[Fuel_Level]\n           ,[Air_Cleaner_Indicator]         \n)\n     VALUES\n( getdate()\n,getutcdate()\n\n,'{{payload.a}}'\n,'{{payload.b}}'\n,'{{payload.c}}'\n,'{{payload.d}}'\n,'{{payload.e}}'\n,'{{payload.f}}'\n,'{{payload.g}}'\n,'{{payload.h}}'\n,'{{payload.i}}'\n,'{{payload.j}}'\n,'{{payload.k}}'\n,'{{payload.l}}'\n,'{{payload.m}}'\n,'{{payload.n}}'\n,'{{payload.o}}'\n,'{{payload.p}}'\n,'{{payload.q}}'\n,'{{payload.r}}'\n,'{{payload.s}}'\n,'{{payload.t}}'\n,'{{payload.u}}'\n,'{{payload.v}}'\n,'{{payload.w}}'\n,'{{payload.x}}'\n,'{{payload.y}}'\n,'{{payload.z}}'\n\n,'{{payload.A}}'\n,'{{payload.B}}'\n,'{{payload.C}}'\n,'{{payload.D}}'\n,'{{payload.E}}'\n,'{{payload.F}}'\n,'{{payload.G}}'\n,'{{payload.H}}'\n,'{{payload.I}}'\n,'{{payload.J}}'\n,'{{payload.K}}'\n,'{{payload.L}}'\n,'{{payload.M}}'\n,'{{payload.N}}'\n,'{{payload.O}}'\n,'{{payload.P}}'\n,'{{payload.Q}}'\n,'{{payload.R}}'\n,'{{payload.S}}'\n,'{{payload.T}}'\n,'{{payload.U}}'\n,'{{payload.V}}'\n,'{{payload.W}}'\n,'{{payload.X}}'\n,'{{payload.Y}}'\n,'{{payload.Z}}'\n\n,'{{payload.aA}}'\n,'{{payload.aB}}'\n,'{{payload.aC}}'\n,'{{payload.aD}}'\n,'{{payload.aE}}'\n,'{{payload.aF}}'\n)",
        "output": "str",
        "x": 660,
        "y": 1340,
        "wires": [
            [
                "25ea9e170a2d4509",
                "a00ee1739772ae36"
            ]
        ]
    },
    {
        "id": "25ea9e170a2d4509",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a00ee1739772ae36",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d0cb303ce184577a",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutEX1200-6",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1340,
        "wires": [
            [
                "fee61d8f84eff301",
                "a7891c8a81634547"
            ]
        ]
    },
    {
        "id": "7a123026c2999422",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0cd9ec292f0c8c5d",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "Scania All",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Scania]\n           ([Date_Time]\n           ,[Engine_RPM]\n           ,[Engine_Oil_Pressure]\n           ,[Boost_Pressure]\n           ,[Engine_Coolant_Temperature]\n           ,[Engine_Oil_Temperature]           \n           ,[Battery_Voltage]\n           ,[Air_Inlate_Temperature]\n           ,[Exhaust_Temperature]\n           ,[Fuel_Rate]\n           ,[Engine_Load]               \n           ,[Actual_Torque]\n           ,[Barometric_Pressure]\n           ,[Ambient_Temperature]\n           ,[Engine_Coolant_Level]\n           ,[Engine_Torque_Mode]           \n           ,[Drive_Percent_Torque]\n           ,[Accelerator_Pedal_Position]\n           ,[Accelerator_Pedal_Status]\n           ,[Percent_Load_Current_Speed]    \n           ,[Single_SPN]\n           ,[Single_FMI]               \n           ,[Occure_SPN]           \n           ,[VIN_Number]\n           ,[Vehicle_Weight]               \n           ,[Total_Fuel_Usage]\n           ,[Fuel_Level]\n           ,[Fuel_Ecconomi]\n           ,[AccelerometerX]\n           ,[AccelerometerY]               \n           ,[AccelerometerZ]\n           ,[GyrometerX]\n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]           \n           ,[AngleY]\n           ,[AngleZ]\n           ,[Compass]\n           ,[GPS_Latitude]    \n           ,[GPS_Longitude]\n           ,[GPS_Altitude]               \n           ,[GPS_Speed]           \n           ,[Temperature_Module]\n           ,[ID_UNIT]               \n           ,[KM_Unit]\n           ,[HM_Engine]\n           ,[HM_Unit]\n           ,[HM_Transmisi]\n           ,[HM_Idle_Time]\n           ,[Idle_Time]               \n           ,[HM_Controller]\n           ,[Vehicle_Speed]\n           ,[Out_Shaft_Speed]\n           ,[Wheel_Base_Speed]\n           ,[Trailler_Air_Pressure]\n           ,[Service_Break_Air_Pressure1]\n           ,[Service_Break_Air_Pressure2]\n           ,[Air_Compressor_Status]\n           ,[Break_Pedal_Position]           \n           ,[Retarder_Mode]\n           ,[Actual_Retarder_Percent_Torque]\n           ,[Cruise_Control_Byte1]    \n           ,[Cruise_Control_Byte4]\n           ,[Cruise_Control_Byte5]               \n           ,[Cruise_Control_Byte7]           \n           ,[Unix_Time]\n\n)\n     VALUES\n( getdate()\n,'{{payload.a}}'\n,'{{payload.b}}'\n,'{{payload.c}}'\n,'{{payload.d}}'\n,'{{payload.e}}'\n,'{{payload.f}}'\n,'{{payload.g}}'\n,'{{payload.h}}'\n,'{{payload.i}}'\n,'{{payload.j}}'\n,'{{payload.k}}'\n,'{{payload.l}}'\n,'{{payload.m}}'\n,'{{payload.n}}'\n,'{{payload.o}}'\n,'{{payload.p}}'\n,'{{payload.q}}'\n,'{{payload.r}}'\n,'{{payload.s}}'\n,'{{payload.t}}'\n,'{{payload.u}}'\n,'{{payload.v}}'\n,'{{payload.w}}'\n,'{{payload.x}}'\n,'{{payload.y}}'\n,'{{payload.z}}'\n,'{{payload.A}}'\n,'{{payload.B}}'\n,'{{payload.C}}'\n,'{{payload.D}}'\n,'{{payload.E}}'\n,'{{payload.F}}'\n,'{{payload.G}}'\n,'{{payload.H}}'\n,'{{payload.I}}'\n,'{{payload.J}}'\n,'{{payload.K}}'\n,'{{payload.L}}'\n,'{{payload.M}}'\n,'{{payload.N}}'\n,'{{payload.O}}'\n,'{{payload.P}}'\n,'{{payload.Q}}'\n,'{{payload.R}}'\n,'{{payload.S}}'\n,'{{payload.T}}'\n,'{{payload.U}}'\n,'{{payload.V}}'\n,'{{payload.W}}'\n,'{{payload.X}}'\n,'{{payload.Y}}'\n,'{{payload.Z}}'\n,'{{payload.aA}}'\n,'{{payload.aB}}'\n,'{{payload.aC}}'\n,'{{payload.aD}}'\n,'{{payload.aE}}'\n,'{{payload.aF}}'\n,'{{payload.aG}}'\n,'{{payload.aH}}'\n,'{{payload.aI}}'\n,'{{payload.aJ}}'\n,'{{payload.aK}}'\n,'{{payload.aL}}'\n,'{{payload.aM}}'\n)",
        "output": "str",
        "x": 660,
        "y": 1460,
        "wires": [
            [
                "3839c1b88b0848c1",
                "6c5ce0392e2401e2"
            ]
        ]
    },
    {
        "id": "6c5ce0392e2401e2",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "7bb51ece84460362",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "3839c1b88b0848c1",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 1400,
        "wires": []
    },
    {
        "id": "477365e4a4b38855",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutScania",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1460,
        "wires": [
            [
                "0cd9ec292f0c8c5d",
                "7a123026c2999422"
            ]
        ]
    },
    {
        "id": "cd9cc24e28a7342d",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 1050,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0d643de35d1805",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "DZ_155",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Dozer_155](\n            [Date_Time]\n           ,[UTC]\n           ,[Engine_Speed]\n           ,[Engine_Load]\n           ,[Engine_Torque]\n           ,[Engine_Friction_Torque]\n           ,[Accelerator_Pedal_Position]           \n           ,[Pedal_Position]\n           ,[Engine_Torque_Mode]\n           ,[Drive_Torque]\n           ,[Engine_Percent_Torque]\n           ,[Engine_Horse_Power]               \n           ,[Target_Rpm_Engine]\n           ,[Desired_Operating_Speed_Assymetry_Adjustment]\n           ,[Engine_Hours]\n           ,[Engine_Idle_Hours]\n           ,[Engine_Idle_Fuel_Use]           \n           ,[Total_Engine_Revolution]\n           ,[Total_Fuel_Consumtion]\n           ,[Total_Trip_Fuel_Use]\n           ,[Fuel_Rate]    \n           ,[Common_Rail_Pressure]\n           ,[Engine_Oil_Pressure]               \n           ,[Engine_Coolant_Pressure]           \n           ,[Barometric_Pressure]\n           ,[Boost_Pressure]               \n           ,[Fuel_Temperature]\n           ,[Air_Intake_Temperature]           \n           ,[Engine_Coolant_Temperature]\n           ,[Engine_Oil_Temperature]\n           ,[Ambient_Temperature]\n           ,[ECU_Temperature]\n           ,[Engine_Coolant_Level]\n           ,[Battery_Voltage]\n           ,[Single_SPN]           \n           ,[Single_FMI]\n           ,[Occure_SPN]\n           ,[AccelerometerX]\n           ,[AccelerometerY]\n           ,[AccelerometerZ]               \n           ,[GyrometerX]\n           ,[GyrometerY]\n           ,[GyrometerZ]\n           ,[AngleX]\n           ,[AngleY]           \n           ,[AngleZ]\n           ,[GPS_Latitude]\n           ,[GPS_Longitude]\n           ,[GPS_Altitude]    \n           ,[GPS_Speed]\n           ,[Temperature_Module]               \n           ,[Fan_Speed]           \n           ,[Transmisi_Oil_Temperature]\n           ,[Hydraulic_Pump_Pressure]               \n           ,[Hydraulic_Oil_Temperature]\n           ,[Transmisi_Out_Speed]\n           ,[Vehicle_Speed]\n           ,[Pitch_Angle]\n           ,[Fuel_Level]               \n           ,[Air_Cleaner_Indicator]\n           ,[ID_UNIT]\n           ,[Hours_Meter_Unit]\n           ,[Hours_Meter_Transmition]\n           ,[Hours_Meter_Travel]\n           ,[ECU_Run_Time]\n           ,[Drop_Rpm]   \n           ,[Decelerator_Pedal] \n           ,[Fuel_Dial] \n)\nVALUES\n( getdate()\n, getutcdate()\n,'{{payload.a}}'\n,'{{payload.b}}'\n,'{{payload.c}}'\n,'{{payload.d}}'\n,'{{payload.e}}'\n,'{{payload.f}}'\n,'{{payload.g}}'\n,'{{payload.h}}'\n,'{{payload.i}}'\n,'{{payload.j}}'\n,'{{payload.k}}'\n,'{{payload.l}}'\n,'{{payload.m}}'\n,'{{payload.n}}'\n,'{{payload.o}}'\n,'{{payload.p}}'\n,'{{payload.q}}'\n,'{{payload.r}}'\n,'{{payload.s}}'\n,'{{payload.t}}'\n,'{{payload.u}}'\n,'{{payload.v}}'\n,'{{payload.w}}'\n,'{{payload.x}}'\n,'{{payload.y}}'\n,'{{payload.z}}'\n,'{{payload.A}}'\n,'{{payload.B}}'\n,'{{payload.C}}'\n,'{{payload.D}}'\n,'{{payload.E}}'\n,'{{payload.F}}'\n,'{{payload.G}}'\n,'{{payload.H}}'\n,'{{payload.I}}'\n,'{{payload.J}}'\n,'{{payload.K}}'\n,'{{payload.L}}'\n,'{{payload.M}}'\n,'{{payload.N}}'\n,'{{payload.O}}'\n,'{{payload.P}}'\n,'{{payload.Q}}'\n,'{{payload.R}}'\n,'{{payload.S}}'\n,'{{payload.T}}'\n,'{{payload.U}}'\n,'{{payload.V}}'\n,'{{payload.W}}'\n,'{{payload.X}}'\n,'{{payload.Y}}'\n,'{{payload.Z}}'\n,'{{payload.aA}}'\n,'{{payload.aB}}'\n,'{{payload.aC}}'\n,'{{payload.aD}}'\n,'{{payload.aE}}'\n,'{{payload.aF}}'\n,'{{payload.aG}}'\n,'{{payload.aH}}'\n,'{{payload.aI}}'\n,'{{payload.aJ}}'\n,'{{payload.aK}}'\n,'{{payload.aL}}'\n,'{{payload.aM}}'\n,'{{payload.aN}}'\n)",
        "output": "str",
        "x": 660,
        "y": 1600,
        "wires": [
            [
                "f3315c2b9235ef60",
                "cd9cc24e28a7342d"
            ]
        ]
    },
    {
        "id": "f3315c2b9235ef60",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1540,
        "wires": []
    },
    {
        "id": "58ebced069dc4411",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "OutPC850",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1600,
        "wires": [
            [
                "7d0d643de35d1805",
                "9ccb6d5a2aa984ba"
            ]
        ]
    },
    {
        "id": "9ccb6d5a2aa984ba",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a36c77ef6db79a5e",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Drilling/Operational/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "4065ccb45198b07d",
                "4de7c095bb51078a"
            ]
        ]
    },
    {
        "id": "4065ccb45198b07d",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 88",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 120,
        "wires": []
    },
    {
        "id": "757724136351327c",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_EDC",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2630,
        "y": 220,
        "wires": [
            [
                "e11b36152fe6997f"
            ]
        ]
    },
    {
        "id": "e11b36152fe6997f",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 89",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2920,
        "y": 160,
        "wires": []
    },
    {
        "id": "4de7c095bb51078a",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Data  Operational EDC Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time             = UTC.toLocaleString();\nvar Device_Time           = msg.payload._terminalTime;\nvar ID_UNIT               = msg.payload.ID_UNIT;\nvar Nama                  = msg.payload.Nama;\nvar Nrp                   = msg.payload.Nrp;\nvar Shift                 = msg.payload.Shift;\nvar Pit                   = msg.payload.Pit;\nvar Location_Id           = msg.payload.Location_Id;\nvar Sn_Bit                = msg.payload.Sn_Bit;\nvar Type_Bit              = msg.payload.Type_Bit;\nvar Bit_Life              = msg.payload.Bit_Life;\nvar HM_Unit               = msg.payload.HM_Unit;\nvar HM_Travel             = msg.payload.HM_Travel;\nvar HM_Drill              = msg.payload.HM_Drill;\nvar HM_Unit_Sec           = msg.payload.HM_Unit_Sec;\nvar HM_Travel_Sec         = msg.payload.HM_Travel_Sec;\nvar HM_Drill_Sec          = msg.payload.HM_Drill_Sec;\nvar HM_Lose_Sec           = msg.payload.HM_Lose_Sec;\nvar Hole_Depth            = msg.payload.Hole_Depth;\nvar Hole_Code             = msg.payload.Hole_Code;\nvar Hole_On_Location      = msg.payload.Hole_On_Location;\nvar Hole_No               = msg.payload.Hole_No;\nvar Fuel_Consumtion       = msg.payload.Fuel_Consumtion;\nvar Gps_Lat               = msg.payload.Gps_Lat;\nvar Gps_Lon               = msg.payload.Gps_Lon;\nvar Altitude              = msg.payload.Altitude;\nvar Angle_X               = msg.payload.Angle_X;\nvar Angle_Y               = msg.payload.Angle_Y;\n\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\ndevAccess = msg.payload.ID_UNIT;\ndelete msg.payload;\nmsg.payload = {};\n// \" Start Message\"\nmsg.payload.Date_Time        = Date_Time;\nmsg.payload.Device_Time      = Device_Time;\nmsg.payload.ID_UNIT          = ID_UNIT;\nmsg.payload.Nama             = Nama;\nmsg.payload.Nrp              = Nrp;\nmsg.payload.Shift            = Shift;\nmsg.payload.Pit              = Pit;\nmsg.payload.Location_Id      = Location_Id;\nmsg.payload.Sn_Bit           = Sn_Bit;\nmsg.payload.Type_Bit         = Type_Bit;\nmsg.payload.Bit_Life         = Bit_Life;\nmsg.payload.HM_Unit          = HM_Unit;\nmsg.payload.HM_Travel        = HM_Travel\nmsg.payload.HM_Drill         = HM_Drill;\nmsg.payload.HM_Unit_Sec      = HM_Unit_Sec;\nmsg.payload.HM_Drill_Sec     = HM_Drill_Sec;\nmsg.payload.HM_Lose_Sec      = HM_Lose_Sec;\nmsg.payload.Hole_Depth       = Hole_Depth;\nmsg.payload.Hole_Code        = Hole_Code;\nmsg.payload.Hole_On_Location = Hole_On_Location;\nmsg.payload.Hole_No          = Hole_No;\nmsg.payload.Fuel_Consumtion  = Fuel_Consumtion;\nmsg.payload.Gps_Lat          = Gps_Lat;\nmsg.payload.Gps_Lon          = Gps_Lon;\nmsg.payload.Altitude         = Altitude;\nmsg.payload.Angle_X          = Angle_X;\nmsg.payload.Angle_Y          = Angle_Y;\n\n\n// \" Sampai aQ\"\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2170,
        "y": 220,
        "wires": [
            [
                "757724136351327c"
            ]
        ]
    },
    {
        "id": "417bc15de997d3ec",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Drilling/Plant/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1650,
        "y": 460,
        "wires": [
            [
                "130c1de002961505",
                "fa13e71362de0dd1"
            ]
        ]
    },
    {
        "id": "130c1de002961505",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 90",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa13e71362de0dd1",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Data  Plant Prepare to Post",
        "func": "var devAccess               = msg.payload.TK_TB;\nvar url = \"\";\n//////////////////////////////////////////*****//////////////////////////////\n\n\n\n// \" Sampai aQ\"\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 460,
        "wires": [
            [
                "73fbf4152966f34d"
            ]
        ]
    },
    {
        "id": "73fbf4152966f34d",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_EDC",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2630,
        "y": 460,
        "wires": [
            [
                "d7a6059b1f93461b"
            ]
        ]
    },
    {
        "id": "d7a6059b1f93461b",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 91",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2920,
        "y": 400,
        "wires": []
    },
    {
        "id": "017de1ae05de6603",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Drilling/RealtimeDrilling/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1680,
        "y": 340,
        "wires": [
            [
                "30f3a8b270964a22",
                "d4928b90e283d207"
            ]
        ]
    },
    {
        "id": "d4928b90e283d207",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Convert Float",
        "func": "msg.payload.ad = msg.payload.ad / 1000000;\nmsg.payload.ae = msg.payload.ae / 1000000;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 340,
        "wires": [
            [
                "9be3128069c5cec8"
            ]
        ]
    },
    {
        "id": "1dae3a4327fef0d4",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2930,
        "y": 260,
        "wires": []
    },
    {
        "id": "9be3128069c5cec8",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Drilling Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Engine_Rpm = msg.payload.a;\nvar Fuel_Pressure = msg.payload.b;\nvar Engine_Oil_Pressure = msg.payload.c;\nvar Boost_Pressure = msg.payload.d;\nvar Engine_Coolant_Temperature = msg.payload.e;\nvar Engine_Oil_Temperature = msg.payload.f;\nvar Air_Inlate_Temperature = msg.payload.g;\nvar ACC_Voltage = msg.payload.h;\nvar Battery_Voltage = msg.payload.i;\nvar Fuel_Rate = msg.payload.j;\nvar Engine_Load = msg.payload.k;\nvar Target_RPM = msg.payload.l;\nvar Friction_Percent_Torque = msg.payload.m;\nvar Drive_Torque = msg.payload.n;\nvar Engine_Percent_Torque = msg.payload.o;\nvar Single_SPN = msg.payload.p;\nvar Single_FMI = msg.payload.q;\nvar Occure_SPN = msg.payload.r;\nvar Fuel_Level = msg.payload.s;\nvar HM_Engine = msg.payload.t;\nvar AccelerometerX = msg.payload.u;\nvar AccelerometerY = msg.payload.v;\nvar AccelerometerZ = msg.payload.w;\nvar GyrometerX = msg.payload.x;\nvar GyrometerY = msg.payload.y;\nvar GyrometerZ = msg.payload.z;\n//\"Sampai z kecil\"\nvar AngleX = msg.payload.aa;\nvar AngleY = msg.payload.ab;\nvar AngleZ = msg.payload.ac;\nvar GPS_Latitude = msg.payload.ad;\nvar GPS_Longitude = msg.payload.ae;\nvar GPS_Altitude = msg.payload.af;\nvar GPS_Speed = msg.payload.ag;\nvar Temperature_Module = msg.payload.ah;\nvar ID_Unit = msg.payload.ai;\nvar Coolant_Level = msg.payload.aj;\nvar Engine_Torque = msg.payload.ak;\nvar Engine_Horse_Power = msg.payload.al;\nvar Drop_Rpm = msg.payload.am;\nvar Accelerator_Pedal_Position = msg.payload.an;\nvar Total_Fuel_Consumtion = msg.payload.ao;\nvar HM_Unit = msg.payload.ap;\nvar HM_Travel = msg.payload.aq;\nvar HM_Drill = msg.payload.ar;\nvar Fuel_Temperature = msg.payload.as;\n// new variable\nvar Rotation_Pressure = msg.payload.at; \nvar Feed_Pressure = msg.payload.au;\nvar ACC_Pressure = msg.payload.av;\nvar Fan_Pressure = msg.payload.aw;\nvar Receiver_Tank_Pressure = msg.payload.ax;\nvar Working_Air_Pressure = msg.payload.ay;\nvar Discharge_Temperature = msg.payload.az;\nvar PTO_Temperature = msg.payload.aaa;\nvar Hydraulic_Temperature = msg.payload.aab;\nvar Opto_V_bat= msg.payload.aac;\nvar Proximity_RHU = msg.payload.aad;\nvar Proximity_LH = msg.payload.aae;\nvar Proximity_FR  = msg.payload.aaf;\nvar Proximity_RH = msg.payload.aag;\nvar Travel_C4 = msg.payload.aah;\nvar FOS = msg.payload.aai;\nvar Time = msg.payload.aaj;\nvar Credential = msg.payload.aak;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////***//////////////////////////////\ndevAccess = msg.payload.aak;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC;\nmsg.payload.Engine_Rpm = Engine_Rpm;\nmsg.payload.Fuel_Pressure = Fuel_Pressure;\nmsg.payload.Engine_Oil_Pressure = Engine_Oil_Pressure;\nmsg.payload.Boost_Pressure = Boost_Pressure;\nmsg.payload.Engine_Coolant_Temperature = Engine_Coolant_Temperature;\nmsg.payload.Air_Inlate_Temperature = Air_Inlate_Temperature;\nmsg.payload.Engine_Oil_Temperature = Engine_Oil_Temperature;\nmsg.payload.ACC_Voltage = ACC_Voltage;\nmsg.payload.Battery_Voltage = Battery_Voltage;\nmsg.payload.Fuel_Rate = Fuel_Rate;\nmsg.payload.Engine_Load = Engine_Load;\nmsg.payload.Target_RPM = Target_RPM;\nmsg.payload.Friction_Percent_Torque = Friction_Percent_Torque;\nmsg.payload.Drive_Torque = Drive_Torque;\nmsg.payload.Engine_Percent_Torque = Engine_Percent_Torque;\nmsg.payload.Single_SPN = Single_SPN;\nmsg.payload.Single_FMI = Single_FMI;\nmsg.payload.Occure_SPN = Occure_SPN;\nmsg.payload.Fuel_Level = Fuel_Level;\nmsg.payload.HM_Engine = HM_Engine;\nmsg.payload.AccelerometerX = AccelerometerX;\nmsg.payload.AccelerometerY = AccelerometerY;\nmsg.payload.AccelerometerZ = AccelerometerZ;\nmsg.payload.GyrometerX = GyrometerX;\nmsg.payload.GyrometerY = GyrometerY;\nmsg.payload.GyrometerZ = GyrometerZ;\n// \" Sampai z Kecil\"\nmsg.payload.AngleX = AngleX;\nmsg.payload.AngleY = AngleY;\nmsg.payload.AngleZ = AngleZ;\nmsg.payload.GPS_Latitude = GPS_Latitude;\nmsg.payload.GPS_Longitude = GPS_Longitude;\nmsg.payload.GPS_Altitude = GPS_Altitude;\nmsg.payload.GPS_Speed = GPS_Speed;\nmsg.payload.Temperature_Module = Temperature_Module;\nmsg.payload.ID_Unit = ID_Unit;\nmsg.payload.Coolant_Level = Coolant_Level;\nmsg.payload.Engine_Torque = Engine_Torque;\nmsg.payload.Engine_Horse_Power = Engine_Horse_Power;\nmsg.payload.Drop_Rpm = Drop_Rpm;\nmsg.payload.Accelerator_Pedal_Position = Accelerator_Pedal_Position;\nmsg.payload.Total_Fuel_Consumtion = Total_Fuel_Consumtion;\nmsg.payload.HM_Unit = HM_Unit;\nmsg.payload.HM_Travel = HM_Travel;\nmsg.payload.HM_Drill = HM_Drill;\nmsg.payload.Fuel_Temperature = Fuel_Temperature;\n//\"Sampai as kecil\"\nmsg.payload.Rotation_Pressure = Rotation_Pressure;\nmsg.payload.Feed_Pressure = Feed_Pressure;\nmsg.payload.ACC_Pressure = ACC_Pressure;\nmsg.payload.Fan_Pressure = Fan_Pressure;\nmsg.payload.Receiver_Tank_Pressure = Receiver_Tank_Pressure;\nmsg.payload.Working_Air_Pressure = Working_Air_Pressure;\nmsg.payload.Discharge_Temperature = Discharge_Temperature;\nmsg.payload.PTO_Temperature = PTO_Temperature;\nmsg.payload.Hydraulic_Temperature = Hydraulic_Temperature;\nmsg.payload.Opto_V_bat = Opto_V_bat;\nmsg.payload.Proximity_RHU = Proximity_RHU;\nmsg.payload.Proximity_LH = Proximity_LH;\nmsg.payload.Proximity_FR = Proximity_FR;\nmsg.payload.Proximity_RH = Proximity_RH;\nmsg.payload.Travel_C4 = Travel_C4;\nmsg.payload.FOS = FOS;\nmsg.payload.Time = Time;\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2410,
        "y": 340,
        "wires": [
            [
                "cfd825c7e109f21e"
            ]
        ]
    },
    {
        "id": "30f3a8b270964a22",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1930,
        "y": 260,
        "wires": []
    },
    {
        "id": "cfd825c7e109f21e",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Post_RealTime_Drilling",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2670,
        "y": 340,
        "wires": [
            [
                "1dae3a4327fef0d4"
            ]
        ]
    },
    {
        "id": "8e1de1fe4cca6a48",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Dozer/Operational/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 600,
        "wires": [
            [
                "0eaaf6f670e5d98d",
                "a8e84508b62da361"
            ]
        ]
    },
    {
        "id": "0eaaf6f670e5d98d",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1930,
        "y": 520,
        "wires": []
    },
    {
        "id": "a8e84508b62da361",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Convert Float",
        "func": "msg.payload.aaj = msg.payload.aaj / 1000000;\nmsg.payload.aak = msg.payload.aak / 1000000;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 600,
        "wires": [
            [
                "b85debee5336a0dc"
            ]
        ]
    },
    {
        "id": "b85debee5336a0dc",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Dozer Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Device_Time = msg.payload._terminalTime; \nvar Nama = msg.payload.aaa;\nvar Nrp = msg.payload.aab;\nvar Shift = msg.payload.aac;\nvar ID_Unit = msg.payload.aad;\nvar HM_Unit = msg.payload.aae;\nvar HM_Idle = msg.payload.aaf;\nvar HM_Travel = msg.payload.aag;\nvar HM_Engine = msg.payload.aah;\nvar Fuel_Use = msg.payload.aai;\nvar Latitude = msg.payload.aaj;\nvar Longitude = msg.payload.aak;\nvar Altitude = msg.payload.aal;\nvar Pit = msg.payload.aam; \n\n\nvar Credential = msg.payload.aan;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////***//////////////////////////////\ndevAccess = msg.payload.aan;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC;\nmsg.payload.Date_Time = Date_Time;  \nmsg.payload.Device_Time = Device_Time; \nmsg.payload.Nama = Nama; \nmsg.payload.Nrp = Nrp; \nmsg.payload.Shift = Shift; \nmsg.payload.ID_Unit = ID_Unit; \nmsg.payload.HM_Unit = HM_Unit; \nmsg.payload.HM_Idle = HM_Idle; \nmsg.payload.HM_Travel = HM_Travel; \nmsg.payload.HM_Engine = HM_Engine; \nmsg.payload.Fuel_Use = Fuel_Use; \nmsg.payload.Latitude = Latitude;  \nmsg.payload.Longitude = Longitude;  \nmsg.payload.Altitude = Altitude;  \nmsg.payload.Pit = Pit;  \n\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 600,
        "wires": [
            [
                "9f3cba784d7f0918"
            ]
        ]
    },
    {
        "id": "9f3cba784d7f0918",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "Data Start Operasi",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2650,
        "y": 600,
        "wires": [
            [
                "34679586c29850a8"
            ]
        ]
    },
    {
        "id": "34679586c29850a8",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2930,
        "y": 540,
        "wires": []
    },
    {
        "id": "b7fd3a59b3dd2eb5",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Dozer/EffectiveWork/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0a5d07da1fe22cb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 740,
        "wires": [
            [
                "8f14a9eff787cfda",
                "0bf6dee0278ce989"
            ]
        ]
    },
    {
        "id": "8f14a9eff787cfda",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 105",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 660,
        "wires": []
    },
    {
        "id": "0bf6dee0278ce989",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "Data  Plant Prepare to Post",
        "func": "var UTC = new Date();\nvar Date_Time = UTC.toLocaleString();\nvar Device_Time = msg.payload._terminalTime;\nvar Nama = msg.payload.aaa;\nvar Nrp = msg.payload.aab;\nvar Shift = msg.payload.aac;\nvar ID_Unit = msg.payload.aad;\nvar Jam_Operasi = msg.payload.aae;\nvar Jam_Idle = msg.payload.aaf;\nvar Jam_Effective = msg.payload.aag;\nvar Fuel_Use = msg.payload.aah;\nvar Pit = msg.payload.aai; \n\n\nvar Credential = msg.payload.aaj;\n\nvar devAccess;\nvar url = \"\";\n//////////////////////////////////////////***//////////////////////////////\ndevAccess = msg.payload.aan;\n\ndelete msg.payload;\n\nmsg.payload = {};\nmsg.payload.UTC = UTC;\nmsg.payload.Date_Time = Date_Time;\nmsg.payload.Device_Time = Device_Time;\nmsg.payload.Nama = Nama;\nmsg.payload.Nrp = Nrp;\nmsg.payload.Shift = Shift;\nmsg.payload.ID_Unit = ID_Unit;\nmsg.payload.Jam_Operasit = Jam_Operasi;\nmsg.payload.Jam_Idle = Jam_Idle;\nmsg.payload.Jam_Effective = Jam_Effective;\nmsg.payload.Fuel_Use = Fuel_Use;\nmsg.payload.Pit = Pit; \n\n\nurl = \"http://10.2.172.15:8080/api/v1/\";\nurl += devAccess + \"/telemetry\";\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 740,
        "wires": [
            [
                "eadfd2e4d0251de7"
            ]
        ]
    },
    {
        "id": "eadfd2e4d0251de7",
        "type": "http request",
        "z": "cda74c0e0f9bca62",
        "name": "EffectiveWork Dozer",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2660,
        "y": 740,
        "wires": [
            [
                "025c3071292a36d6"
            ]
        ]
    },
    {
        "id": "025c3071292a36d6",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 106",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2930,
        "y": 680,
        "wires": []
    },
    {
        "id": "824e7984d7d6ca31",
        "type": "mqtt in",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "topic": "data/Drilling/Operational/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0ca21f2a88b96d27",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1670,
        "y": 940,
        "wires": [
            [
                "0dfdcdbdc5f5332a",
                "48a149434f7aad71"
            ]
        ]
    },
    {
        "id": "0dfdcdbdc5f5332a",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "debug 107",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 840,
        "wires": []
    },
    {
        "id": "7898bcc7d4506799",
        "type": "template",
        "z": "cda74c0e0f9bca62",
        "name": "Operational_Drilling",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO [dbo].[Drilling_Operational](\n            [Date_Time_Insert] \n           ,[Date_Time_Data] \n           ,[ID_UNIT] \n           ,[Nama]           \n           ,[Nrp]\n           ,[Shift]\n           ,[Pit]\n           ,[Location_Id]\n           ,[Sn_Bit]               \n           ,[Type_Bit]\n           ,[Bit_Life]\n           ,[HM_Unit]\n           ,[HM_Travel]           \n           ,[HM_Drill]\n           ,[HM_Unit_Sec]\n           ,[HM_Travel_Sec]\n           ,[HM_Drill_Sec]    \n           ,[HM_Lose_Sec]\n           ,[Hole_Depth]               \n           ,[Hole_Code]           \n           ,[Hole_On_Location]\n           ,[Hole_No]               \n           ,[Fuel_Consumtion]\n           ,[Gps_Lat]           \n           ,[Gps_Lon]\n           ,[Altitude]\n           ,[Angle_X]\n           ,[Angle_Y]\n\n)\nVALUES\n( getdate() \n,'{{payload._terminalTime}}'\n,'{{payload.ID_UNIT}}'\n,'{{payload.Nama}}'\n,'{{payload.Nrp}}'\n,'{{payload.Shift}}'\n,'{{payload.Pit}}'\n,'{{payload.Location_Id}}'\n,'{{payload.Sn_Bit}}'\n,'{{payload.Type_Bit}}'\n,'{{payload.Bit_Life}}'\n,'{{payload.HM_Unit}}'\n,'{{payload.HM_Travel}}'\n,'{{payload.HM_Drill}}'\n,'{{payload.HM_Unit_Sec}}'\n,'{{payload.HM_Travel_Sec}}'\n,'{{payload.HM_Drill_Sec}}'\n,'{{payload.HM_Lose_Sec}}'\n,'{{payload.Hole_Depth}}'\n,'{{payload.Hole_Code}}'\n,'{{payload.Hole_On_Location}}'\n,'{{payload.Hole_No}}'\n,'{{payload.Fuel_Consumtion}}'\n,'{{payload.Gps_Lat}}'\n,'{{payload.Gps_Lon}}'\n,'{{payload.Altitude}}'\n,'{{payload.Angle_X}}'\n,'{{payload.Angle_Y}}'\n)",
        "output": "str",
        "x": 2290,
        "y": 940,
        "wires": [
            [
                "1de91434651b57c8",
                "55f8e2a7616ff3db"
            ]
        ]
    },
    {
        "id": "55f8e2a7616ff3db",
        "type": "MSSQL",
        "z": "cda74c0e0f9bca62",
        "mssqlCN": "9b22f9fdbfffdcb6",
        "name": "Insert Data TO DB",
        "query": "",
        "outField": "payload",
        "x": 2550,
        "y": 940,
        "wires": [
            [
                "183e2f8007a52457"
            ]
        ]
    },
    {
        "id": "1de91434651b57c8",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2550,
        "y": 880,
        "wires": []
    },
    {
        "id": "183e2f8007a52457",
        "type": "debug",
        "z": "cda74c0e0f9bca62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2850,
        "y": 880,
        "wires": []
    },
    {
        "id": "48a149434f7aad71",
        "type": "function",
        "z": "cda74c0e0f9bca62",
        "name": "function 32",
        "func": "msg.payload.Hole_Depth      /= 1000;\nmsg.payload.Bit_Life        /= 1000;\nmsg.payload.HM_Unit         /= 100; \nmsg.payload.Altitude        /= 10;\nmsg.payload.Angle_X         /= 10;\nmsg.payload.Angle_Y /= 10;\nmsg.payload.Fuel_Consumtion /= 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 940,
        "wires": [
            [
                "7898bcc7d4506799"
            ]
        ]
    },
    {
        "id": "0a5d07da1fe22cb3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.2.172.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9b22f9fdbfffdcb6",
        "type": "MSSQL-CN",
        "name": "Localdb",
        "server": "localhost",
        "encyption": false,
        "database": "DB_PHMS"
    },
    {
        "id": "7bb51ece84460362",
        "type": "MSSQL-CN",
        "name": "mssql",
        "server": "localhost",
        "encyption": false,
        "database": "DB_FMS"
    },
    {
        "id": "0ca21f2a88b96d27",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.207.146",
        "port": "1887",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]